@import "tailwindcss";

@theme {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

/* Leaflet Map z-index fix */
.leaflet-container {
  z-index: 0;
  width: 100%;
  height: 100%;
}